*.suo
FinanceiroLirio/.vs/config/applicationhost.config
*.config
FinanceiroLirio/.vs/FinanceiroLirio/v15/.suo
*.pdb
*.dll
FinanceiroLirio/FinanceiroLirio.Infra/bin/Debug/FinanceiroListio.Infra.dll
*.pdb
*.pdb
FinanceiroLirio/.vs/config/applicationhost.config