<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_layout</title>
</head>
<body>
    <a href="/Entrar/Sair">Sair</a>
    @RenderBody()
</body>
</html>
