@using Newtonsoft.Json
@using FinanceiroLirio.Web.Models
@{
    //capturando os dados em JSON do usuario autenticado..
    string usuario = HttpContext.Current.User.Identity.Name;
    //deserializar os dados de JSON para objeto..
    var auth = JsonConvert.DeserializeObject<UsuarioAutenticadoModel>(usuario);

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Financeiro Lírio - @ViewBag.Titulo</title>
    <link href="~/Content/materialize-v0.97.5/css/materialize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/Content/materialize-v0.97.5/js/materialize.min.js"></script>
</head>
<body>
    @*<nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Financeiro Lírio</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/Entrar/Sair">Sair</a></li>
            </ul>
        </div>
    </nav>*@
    <div class="container">
        <!-- Page Content goes here -->
        <div class="row col s12">
            <div class="col s2">
                <ul id="slide-out" class="side-nav fixed">
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="~/Content/Images/Lirio.fw.png" />
                            </div>
                            <a href="#!nome"><span class="black-text name"><b>Usuário:</b> @auth.NomeCompleto</span></a>
                        </div>
                    </li>
                    @*<li><div class="divider"></div></li>*@
                    

                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">location_city</i>Congregação<i class="material-icons" style="float:right">arrow_drop_down</i></div>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="/Administrador/Congregacao/Nova" class="waves-effect waves">Nova congregação</a></li>
                                        <li><a href="/Administrador/Congregacao/Lista" class="waves-effect waves">Listar congregações</a></li>
                                    </ul>
                                 </div>
                            </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">person_add</i>Usuarios<i class="material-icons" style="float:right">arrow_drop_down</i></div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/Administrador/Usuario/Novo" class="waves-effect waves">Novo usuário</a></li>
                                    <li><a href="/Administrador/Usuario/Lista" class="waves-effect waves">Listar usuários</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">card_travel</i>Caixas<i class="material-icons" style="float:right">arrow_drop_down</i></div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/Administrador/Caixa/NovoCaixa" class="waves-effect waves">Novo Caixa</a></li>
                                    <li><a href="/Administrador/Caixa/ListaCaixas" class="waves-effect waves">Listar Caixas</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    
                    @*<li>
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <a class="collapsible-header waves-effect waves">Congregação</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="/Administrador/Congregacao/Nova" class="waves-effect waves">Nova congregação</a></li>
                                        <li><a href="/Administrador/Congregacao/Lista" class="waves-effect waves">Listar congregações</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect waves">Usuarios</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="/Administrador/Usuario/Nova" class="waves-effect waves">Novo usuário</a></li>
                                        <li><a href="/Administrador/Usuario/Lista" class="waves-effect waves">Listar usuários</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>*@


                    <li class=""><a href="/Entrar/Sair">Sair</a></li>
                </ul>
                @*<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>*@
            </div>
            <div class="col s9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>